name: BUILD

on:
    workflow_dispatch:

jobs: 
    build: 
        runs-on: "windows-latest"

        steps:
        - name: Checkout
          uses: actions/checkout@v4
        
        - name: Setup MSBuild
          uses: microsoft/setup-msbuild@v2

        - name: Install Qt
          uses: jurplel/install-qt-action@v4
          with:
            version: 5.15.2
            host: windows
            target: desktop
            arch: win64_msvc2019_64
            cache: true

        - name: Set Env Vars
          run: |
            echo "QTDIR=$env:QT_ROOT_DIR" >> $env:GITHUB_ENV
            echo "QtToolsPath=$env:QT_ROOT_DIR\bin" >> $env:GITHUB_ENV

        - name: Verify QtMsBuild
          run: dir "$env:QT_ROOT_DIR\..\Tools\QtVsTools\QtMsBuild"
          
        - name: Build
          run: msbuild .\osd\osd.sln /p:QtMsBuild="$env:QT_ROOT_DIR\..\Tools\QtVsTools\QtMsBuild"

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: osd
            path: osd/x64/Release/osd.exe
        