name: BUILD

on:
    workflow_dispatch:

jobs: 
    build: 
        runs-on: "windows-latest"

        steps:
        - name: Checkout
          uses: actions/checkout@v4
        
        - name: Setup MSBuild
          uses: microsoft/setup-msbuild@v2

        - name: Install Qt
          uses: jurplel/install-qt-action@v4
          with:
            version: 5.15.2
            host: windows
            target: desktop
            arch: win64_msvc2019_64
            cache: true

        - name: Add Qt bin to PATH
          shell: pwsh
          run: |
            echo "$env:PATH = '$env:QT_ROOT_DIR\5.15.2\msvc2019_64\bin;' + $env:PATH"
            
        - name: Build
          run: |
              msbuild .\osd\osd.sln `
                /p:Configuration=Release `
                /p:Platform=x64 `
                /p:QtInstallation="$env:QT_ROOT_DIR" `
                /p:QtInstallationVersion=5.15.2

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: osd
            path: osd/x64/Release/osd.exe
        