name: BUILD

on:
    workflow_dispatch:

jobs: 
    build: 
        runs-on: "windows-latest"

        steps:
        - name: Checkout
          uses: actions/checkout@v4
        
        - name: Setup MSBuild
          uses: microsoft/setup-msbuild@v2

        - name: Install Qt
          uses: jurplel/install-qt-action@v4
          with:
            version: 5.15.2
            host: windows
            target: desktop
            arch: win64_msvc2019_64
            cache: true

        - name: Add Qt bin to PATH
          shell: pwsh
          run: |
            echo "$env:PATH = '$env:QT_ROOT_DIR\5.15.2\msvc2019_64\bin;' + $env:PATH"
        
        - name: Setup vcpkg and restore cache
          uses: lukka/run-vcpkg@v12 # A popular action for managing vcpkg
          with:
            # vcpkg-action automatically manages the caching mechanism
            # Assumes vcpkg.json is in the root directory
            vcpkgManifestPath: ${{ github.workspace }}/vcpkg.json

        - name: Build
          shell: pwsh
          run: |
              msbuild .\osd\osd.sln `
                /p:Configuration=Release `
                /p:Platform=x64
        
        - name: Deploy
          shell: pwsh
          run: |
            $exePath = "osd/x64/Release/osd.exe"
            & "$env:QT_ROOT_DIR\bin\windeployqt.exe" $exePath

        - name: Upload Artifacts
          uses: actions/upload-artifact@v4
          with:
            name: osd
            path: osd/x64/Release
        