name: BUILD

on:
    workflow_dispatch:

jobs: 
    build: 
        runs-on: "windows-latest"

        steps:
        - name: Checkout
          uses: actions/checkout@v4
        
        - name: Setup MSBuild
          uses: microsoft/setup-msbuild@v2

        - name: Install Qt
          uses: jurplel/install-qt-action@v4
          with:
            version: 5.15.2
            host: windows
            target: desktop
            arch: win64_msvc2019_64
            cache: true

        - name: Download QtMsBuild
          shell: pwsh
          run: |
            # Invoke-WebRequest `
            #   -Uri https://github.com/qt-labs/vstools/archive/refs/tags/v3.4.0.zip `
            #   -OutFile qtmsbuild.zip
            Expand-Archive QtMsBuild.zip -DestinationPath qtmsbuild

        - name: Build
          run: msbuild .\osd\osd.sln /p:Configuration=Release /p:QtMsBuild="${{ github.workspace }}\qtmsbuild\QtMsBuild"

        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: osd
            path: osd/x64/Release/osd.exe
        